[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
install = "*"
sentry-sdk = "*"
pytest-cov = "*"
codecov = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.9"
